# Core functionality - changes here should be rare!
/src/app.py                   @victordlroche
/src/backend/database.py      @victordlroche
/src/backend/routers/auth.py  @victordlroche

# The frontend will need refactored soon to be more object oriented.
/src/static/   @victordlroche
